#include <windows.h>
#include "resource.h"

// Application icon
IDI_APPICON ICON "res/app.ico"
// Themed tray icon variants
IDI_TRAY_LIGHT ICON "res/tray_light.ico"
IDI_TRAY_DARK ICON "res/tray_dark.ico"
// About dialog specific icon
IDI_ABOUT_ICON ICON "res/about.ico"

// Version information block

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,10,0
 PRODUCTVERSION 0,10,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName",      "Asteski"
			VALUE "FileDescription", "WinMac Menu"
			VALUE "FileVersion",     "0.10.0"
			VALUE "InternalName",    "WinMacMenu.exe"
			VALUE "OriginalFilename", "WinMacMenu.exe"
			VALUE "ProductName",     "WinMac Menu"
			VALUE "ProductVersion",  "0.10.0"
			VALUE "LegalCopyright",  "Copyright 2026 Asteski"
		END // BLOCK "040904B0"
	END // BLOCK "StringFileInfo"
	BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END // BLOCK "VarFileInfo"
END // VS_VERSION_INFO


// Settings dialog (basic subset of INI options)
IDD_SETTINGS DIALOGEX 0, 0, 315, 292
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "WinMac Menu Settings"
FONT 9, "Segoe UI", 0, 0, 0x0
BEGIN
	CONTROL         "", IDC_SETTINGS_TABS, "SysTabControl32", WS_TABSTOP | WS_CLIPSIBLINGS | WS_CLIPCHILDREN, 6, 6, 303, 240
	DEFPUSHBUTTON   "Apply", IDC_APPLY, 120, 257, 60, 16
	PUSHBUTTON      "Save && Close", IDC_SAVEEXIT, 184, 257, 80, 16
	PUSHBUTTON      "Cancel", IDC_CANCEL, 268, 257, 44, 16
END

// General Page
IDD_PAGE_GENERAL DIALOGEX 0,0,295,220
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	GROUPBOX      "Menus behaviour", -1, 8, 6, 278, 60
	CONTROL       "Show hidden files", IDC_SHOWHIDDEN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 20, 120, 10
	CONTROL       "Show dotfiles", IDC_SHOWDOTFILES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 32, 120, 10
	CONTROL       "Show file extensions", IDC_SHOWEXTENSIONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 44, 120, 10
	LTEXT         "Folder submenu depth:", -1, 150, 44, 80, 10
	EDITTEXT      IDC_FOLDERDEPTH_EDIT, 235, 42, 24, 12, ES_NUMBER | WS_TABSTOP
	CONTROL       "", IDC_FOLDERDEPTH_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 259, 42, 10, 12
	CONTROL       "Show menu icons", IDC_SHOWICONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 20, 120, 10
	CONTROL       "Show folder icons", IDC_SHOWFOLDERICONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 32, 120, 10

	GROUPBOX      "Program behaviour", -1, 8, 74, 278, 60
	CONTROL       "Start on login", IDC_STARTONLOGIN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 88, 120, 10
	CONTROL       "Run in background", IDC_RUNINBACKGROUND, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 100, 120, 10
	CONTROL       "Show on launch", IDC_SHOWONLAUNCH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 88, 120, 10
	CONTROL       "Show tray icon", IDC_SHOWTRAYICON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 100, 120, 10
	CONTROL       "Monochrome tray icon", IDC_MONOTRAYICON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 112, 120, 10
	GROUPBOX      "Included power options", -1, 8, 140, 278, 44
	CONTROL       "Hibernate", IDC_POWER_HIBERNATE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 154, 70, 10
	CONTROL       "Lock", IDC_POWER_LOCK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 110, 154, 50, 10
	CONTROL       "Restart", IDC_POWER_RESTART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 200, 154, 60, 10
	CONTROL       "Sign out", IDC_POWER_LOGOFF, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 168, 70, 10
	CONTROL       "Shutdown", IDC_POWER_SHUTDOWN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 110, 168, 70, 10
	CONTROL       "Sleep", IDC_POWER_SLEEP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 200, 168, 50, 10
END

// Placement Page
IDD_PAGE_PLACEMENT DIALOGEX 0,0,295,220
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	GROUPBOX        "Positioning", -1, 6, 10, 280, 100
	LTEXT           "Horizontal:", -1, 16, 28, 50, 8
	COMBOBOX        IDC_HPLACEMENT_COMBO, 70, 26, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT           "Vertical:", -1, 16, 44, 50, 8
	COMBOBOX        IDC_VPLACEMENT_COMBO, 70, 42, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT           "Horizontal offset:", -1, 16, 60, 80, 8
	EDITTEXT        IDC_HOFFSET_EDIT, 100, 58, 50, 12, ES_NUMBER | WS_TABSTOP
	LTEXT           "Vertical offset:", -1, 16, 76, 80, 8
	EDITTEXT        IDC_VOFFSET_EDIT, 100, 74, 50, 12, ES_NUMBER | WS_TABSTOP

	GROUPBOX        "Behaviour", -1, 6, 115, 280, 100
	LTEXT           "Ignore offset when WinMac Menu is centered:", -1, 16, 130, 210, 8
	COMBOBOX        IDC_IGNORE_CENTERED_COMBO, 16, 140, 254, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CONTROL         "Pointer relative", IDC_POINTERRELATIVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 160, 120, 10
	LTEXT           "Ignore offset when WinMac Menu positioning is pointer relative:", -1, 16, 178, 210, 8
	COMBOBOX        IDC_IGNORE_RELATIVE_COMBO, 16, 188, 254, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP | WS_DISABLED
END

// Menu Page
IDD_PAGE_MENU DIALOGEX 0,0,295,190
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	// Geometry matched exactly to Icons page: list 220 wide, buttons at x=232 width=82
	CONTROL         "", IDC_MENU_LIST, "SysListView32", WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL, 6, 10, 220, 146
	PUSHBUTTON      "Add", IDC_MENU_ADD, 232, 10, 82, 20
	PUSHBUTTON      "Edit", IDC_MENU_EDIT, 232, 34, 82, 20
	PUSHBUTTON      "Delete", IDC_MENU_DELETE, 232, 58, 82, 20
	PUSHBUTTON      "Up", IDC_MENU_UP, 232, 92, 82, 20
	PUSHBUTTON      "Down", IDC_MENU_DOWN, 232, 116, 82, 20
END

// Icons Page
IDD_PAGE_ICONS DIALOGEX 0,0,295,190
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	CONTROL         "", IDC_ICONS_LIST, "SysListView32", WS_TABSTOP | WS_BORDER | LVS_REPORT | LVS_SINGLESEL, 6, 10, 220, 146
	PUSHBUTTON      "Browse main", IDC_ICON_BROWSE_FILE, 232, 10, 82, 20
	PUSHBUTTON      "Browse light", IDC_ICON_BROWSE_LIGHT, 232, 34, 82, 20
	PUSHBUTTON      "Browse dark", IDC_ICON_BROWSE_DARK, 232, 58, 82, 20
	PUSHBUTTON      "Clear", IDC_ICON_CLEAR, 232, 82, 82, 20
END

// Sorting Page
IDD_PAGE_SORTING DIALOGEX 0,0,295,70
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	GROUPBOX      "Sorting", -1, 4, 2, 285, 82
	LTEXT         "Sort by:", -1, 12, 22, 70, 8
	COMBOBOX      IDC_SORT_FIELD, 110, 20, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT         "Direction:", -1, 12, 42, 70, 8
	COMBOBOX      IDC_SORT_DIRECTION, 110, 40, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT         "Object type priority:", -1, 12, 62, 90, 8
	COMBOBOX      IDC_SORT_FOLDERSFIRST, 110, 60, 80, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

// Advanced Page
IDD_PAGE_ADVANCED DIALOGEX 0,0,295,240
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 9, "Segoe UI"
BEGIN
	GROUPBOX      "Recent Items", -1, 6, 8, 283, 48
	// Row 1
	CONTROL        "Show file extensions", IDC_RECENT_SHOW_EXT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 22, 120, 10
	LTEXT          "Show items as:", -1, 120, 22, 60, 8
	COMBOBOX       1702, 235, 20, 44, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	// Row 2
	CONTROL        "Show 'Clean Recent Items'", IDC_RECENT_SHOW_CLEAN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 36, 140, 10
	LTEXT          "Number of jumplist items to display:", -1, 120, 36, 110, 8
	EDITTEXT       IDC_RECENTMAX_EDIT, 235, 34, 34, 12, ES_NUMBER | WS_TABSTOP
	CONTROL        "", IDC_RECENTMAX_SPIN, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT, 269, 34, 12, 12
	GROUPBOX      "Task Kill", -1, 6, 60, 283, 74
	// First row of checkboxes
	CONTROL       "Show tasks from all desktops", 2000, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 74, 120, 10
	CONTROL       "Ignore system processes", 2001, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 74, 120, 10
	// Second row of checkboxes
	CONTROL       "List tasks as separate windows", 2002, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 88, 140, 10
	CONTROL       "Show icons", 2004, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 150, 88, 120, 10
	// Exclude processes textbox below checkboxes
	LTEXT         "Exclude processes:", -1, 14, 102, 80, 8
	EDITTEXT      2005, 100, 100, 170, 12, ES_AUTOHSCROLL | WS_TABSTOP
	// Number of tasks to display below exclude processes, like jumplist style
	LTEXT         "Number of tasks to display:", -1, 14, 119, 110, 8
	EDITTEXT      2003, 100, 117, 34, 12, ES_NUMBER | WS_TABSTOP
	CONTROL       "", 2103, "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT, 134, 117, 12, 12
	// This PC section (bottom, moved up)
	GROUPBOX      "This PC", -1, 6, 140, 283, 24
	CONTROL       "Show as a submenu", IDC_THISPC_AS_SUBMENU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 150, 90, 10
	CONTROL       "Expand menu items as submenus", IDC_THISPC_ITEMS_AS_SUBMENUS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 110, 150, 120, 10
	CONTROL       "Show icons", IDC_THISPC_SHOW_ICONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 235, 150, 50, 10

	// Home section (same size as This PC)
	GROUPBOX      "Home", -1, 6, 168, 283, 24
	CONTROL       "Show as a submenu", IDC_HOME_AS_SUBMENU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 178, 90, 10
	CONTROL       "Expand menu items as submenus", IDC_HOME_ITEMS_AS_SUBMENUS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 110, 178, 120, 10
	CONTROL       "Show icons", IDC_HOME_SHOW_ICONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 235, 178, 50, 10
END

// Item Edit Dialog
IDD_ITEM_EDIT DIALOGEX 0,0,220,132
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Edit Item"
FONT 9, "Segoe UI"
BEGIN
	LTEXT           "Type:", -1, 6, 8, 40, 8
	COMBOBOX        IDC_ITEM_TYPE_COMBO, 50, 6, 160, 72, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT           "Label:", -1, 6, 26, 40, 8
	EDITTEXT        IDC_ITEM_LABEL, 50, 24, 160, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT           "Path / URI:", -1, 6, 44, 48, 8
	EDITTEXT        IDC_ITEM_PATH, 50, 42, 160, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT           "Parameters:", -1, 6, 62, 40, 8
	EDITTEXT        IDC_ITEM_PARAMS, 50, 60, 160, 12, ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "OK", IDOK, 70, 100, 40, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 120, 100, 40, 14
END
